#admin-page_content {
    direction: rtl;
}

.quick-edit-button {
    display: none;
}

tr:hover .quick-edit-button {
    display: inline-block;
}

.form-grid {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
    max-width: 400px;
}

.form-grid label {
    grid-column: 1;
    font-size: 14px;
    font-weight: 600;
}

.form-grid input {
    grid-column: 2;
    margin: 0;
}

#url {
    direction: ltr;
}

form.view-mode tbody td input[type=checkbox] {
    border: none;
    box-shadow: none;
    background-color: unset;
    pointer-events: none;
}
