.wrap {
    direction: rtl;
}

input[type=url] {
    direction: ltr;
}

.add-story-form {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
    max-width: 400px;
}

.add-story-form label {
    grid-column: 1;
    font-size: 14px;
    font-weight: 600;
}

.add-story-form input {
    grid-column: 2;
    margin: 0;
}

.view-mode tbody td input {
    border: none;
    box-shadow: none;
    background-color: unset;
    pointer-events: none;
}

.tablenav .bulkactions {
    float: inline-start;
    padding: 0 0 0 8px;
}

.tablenav .actions select { 
    float: inline-start;
    margin-right: 0;
}

.tablenav .tablenav-pages {
    float: inline-end;
}

@media screen and (max-width: 782px) {
    .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.column-primary)::before {
        position: relative;
        right: 10px;
        float: inline-start;
    }

    tbody td input {
        float: inline-end;
    }
}